.offset-right {
    margin-left: 2%;
}
.offset-right2 {
    margin-left: 8%;
}
.offset-left {
    margin-right: 2%
}
body {
    background-color: #121212;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 0;
}