/* h5, h6, p, strong {
    color: white;
} */
.acc_card {
    margin: 2% 8% auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0 0!important;
    box-shadow:  5px 15px 5px #000000;
}
.acc_card_body {
    display: flex;
}
.acc_card_left {
    width: 90%;
}
.acc_card_right {
    width: 10%;
}
.acc_card_left .top {
    height: 10vh;
}
.acc_card_left .bottom {
    height: 10vh;
}
.acc_card_left .bottom {
    display: flex;
}
.acc_edit {
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5%;
    background-color: rgba(0,0,0,.26);
}
.bottom img {
    border-radius: 100%;
    margin-right: 8%;
}
.card {
    background-color: transparent!important;
    border: 0!important;
}
.acc_bottom {
    display: flex;
    margin: 2% 8% auto;
}
.acc_bottom_left {
    width: 28%;
}
.acc_bottom_left_card {
    display: flex;
    flex-direction: column;
}
.acc_followers, .acc_following, .acc_about, .acc_contact {
    padding: 0;
    text-align: left;
    margin-bottom: 5%;
    border: 1px solid black!important;
    box-shadow:  5px 15px 5px #000000;

}
.card_body{
    text-align: left;
    padding: 10px;
}
.card_body2 {
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.card_header {
    text-align: left;
    padding: 10px;
}
.second {
    margin-left: 47%;
    text-align: right;
}
.second2 {
    margin-left: 30%;
}
.no_padding {
    margin: 0!important;
    margin-bottom: 2%!important;
}
.card_inner_item {
    display: flex;
    justify-content: space-between;
}
.steam {
    overflow-x: auto;
}

.acc_bottom_right {
    margin-left: 4%;
    width: 68%;
}
.post_card {
    border: 1px solid black!important;
    border-radius: 5px;
    margin-bottom: 2%;
    box-shadow:  5px 15px 5px #000000;

}
.post_card_header {
    display: flex;
}
.test {
    margin-left: 2%;
}
.test p {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.post_card_header img {
    width: 8%;
    border-radius: 100%;
}

.post_card_body {
    margin-top: 2%;
    display: flex;
}
.post_card_body img {
    border-radius: 4px;
}
.second_item {
    margin-left: 2%;
    height: 200px;
    overflow-y: scroll;
}
.second_item::-webkit-scrollbar {
    width: 0;
}
.post_card_footer {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.form_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.form_group input, .form_group label, .form_group2 input, .form_group2 label {
    padding: 5px;
}
.form_group label, .form_group2 label {
    font-weight: bold;
    font-variant: small-caps;
}
.form_group input, .form_group textarea {
    width: 60%;
}
.form_group2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.form_group2 div {
    display: flex;
    width: 60%;
}
.form_group2 input {
    width: 100%;
}
.second_f {
    margin-left: 2%;
}
.upload_button {
    width: 50px;
    margin-left: 2%;
    border-radius: 2px;
    border: 0;
}
.test2 {
    width: 20px;
}