.main_navbar {
    background-color: #121212;
}
.main_navbar a {
    color: white!important;
}
.main_navbar a:hover {
    background-color: #686868;
    border-radius: 2px;
    color: #121212!important;
}
.main_navbar_break {
    margin: .5% 0;
}
.main_navbar_hr {
    color: red;
    opacity: 100;
    height: 2px!important;
    margin: 0!important;
}
